<div class="componente-principal">
  <h1 class="titulo">Mapa conceptual</h1>
  <hr />

  <div class="contenedor-de-mapa">
    <div class="nivel1">
      <div class="encabezado">
        Nivel 1:Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
        itaque quidem minus praesentium alias hic modi facilis nesciunt optio at
        corporis, illo maiores excepturi maxime quia. Eum architecto corrupti
        cum!
      </div>
      <div class="contenido">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et explicabo
        consequuntur ullam excepturi voluptates nobis similique quisquam animi?
        Maiores impedit perspiciatis culpa modi voluptates, nulla ut accusantium
        nam voluptatum molestiae?
      </div>
    </div>
    <div class="linea1">
      <div class="nivel2">
        <div class="encabezado">
          Nivel 1.1:Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Fuga itaque quidem minus praesentium alias hic modi facilis nesciunt
          optio at corporis, illo maiores excepturi maxime quia. Eum architecto
          corrupti cum!
        </div>
        <div class="contenido">
          Explicacion del nivel 1.1 Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Et explicabo consequuntur ullam excepturi voluptates
          nobis similique quisquam animi? Maiores impedit perspiciatis culpa
          modi voluptates, nulla ut accusantium nam voluptatum molestiae?
        </div>
      </div>
    </div>
    <div class="linea2">
        <div class="nivel3">
            <div class="encabezado">
              Nivel 1.2:Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Fuga itaque quidem minus praesentium alias hic modi facilis nesciunt
              optio at corporis, illo maiores excepturi maxime quia. Eum architecto
              corrupti cum!
            </div>
            <div class="contenido">
              Explicacion del nivel 1.2 Lorem, ipsum dolor sit amet consectetur
              adipisicing elit. Et explicabo consequuntur ullam excepturi voluptates
              nobis similique quisquam animi? Maiores impedit perspiciatis culpa
              modi voluptates, nulla ut accusantium nam voluptatum molestiae?
            </div>
          </div>


    </div>
  </div>
</div>
